{% extends "layouts/base.html" %}

{% block title %}
    {{super()}} | Home
{% endblock %}
{% block a %}

{% endblock a %}

{% block container %}

<div class="search">
    <div class="search__container">
        <div class="search__row">
            <div class="search__content-row-container">
                <a href="{{url_for('clearSession')}}">vider le favorie</a><br>
                <div class="search__content-row">
                    
                    <div class="search__content">
                    
                       
    
                            {% for article in articles %}


                            <div class="listings-cards">
                                <div class="listings-cards__list" data-scroller="{&quot;append&quot;:&quot;.listings-cards__list-item&quot;,&quot;maxPages&quot;:3}">
                                    <div class="listings-cards__list-item ">

                                        {% if article.id %2 == 0 %}

                                        <div class="listing-card listing-card--tab listing-card--has-contact listing-card--has-content listing-card--priority listing-card--priority-gold">
                                            <a href="{{url_for('detail',id=article.id)}}" class="listing-card__inner" id=""  >
                                            <div class="listing-card__aside">
                                                <div class="listing-card__image">
                                                    <div class="listing-card__image__inner-container">
                                                        <svg class="i i-electronics listing-card__image__placeholder" aria-hidden="true">
                                                            <use href="#"></use>
                                                        </svg>
                                                        <div class="listing-card__image__inner">
                                                            <img class="listing-card__image__resource vh-img"  src="{{ url_for('static', filename='images/tasks/' + article.image) }}" alt="" loading="lazy">
                                                          
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="listing-card__priority">
                                                    <span class="listing-priority listing-priority--gold">
                                                        <svg class="i i-priority-star listing-priority__icon" aria-hidden="true">
                                                            <use href="#"></use>
                                                        </svg>
                                                        <span class="listing-priority__title">
                                                        A La Une
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>

                                         
                                            <div class="listing-card__content 1">
                                                <div class="listing-card__content__inner">
                                                    <div class="listing-card__header">
                                                        <div class="listing-card__header-content">
                                                            <div class="listing-card__header__title">
                                                                {{article.content}}
                                                            </div><div class="listing-card__header__tags">
                                                                
                                                                {% if article.etat =="Venant" %}
                                                                <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_used-abroad">
                                                                {{article.etat}}
                                                            </span>
                                                            {% endif %}
                                                            {% if article.etat =="Neuf" %}
                                                                <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_new">
                                                                {{article.etat}}
                                                            </span>
                                                            {% endif %}
                                                            {% if article.etat =="Reconditionné" %}
                                                                <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_refurbished">
                                                                {{article.etat}}
                                                            </span>
                                                            {% endif %}
                                                            {% if article.etat =="Occasion" %}
                                                                <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_used-abroad">
                                                                {{article.etat}}
                                                            </span>
                                                            {% endif %}



                                                                <span class="listing-card__header__tags__item listing-card__header__tags__item--make listing-card__header__tags__item--make_hp-hewlett-packard">
                                                                    {{article.text}}
                                                                </span>
                                                            </div>
                                                            <div class="listing-card__header__location">
                                                                <svg class="i i-gmaps " aria-hidden="true">
                                                                    <use href="#"></use>
                                                                </svg>
                                                                {{article.quartier}}, {{article.ville}}
                                                                <p>{{article.published_date}} 
                                                            </div>
                                                        </div>
                                                        <div class="listing-card__header-aside">
                                                            <div class="listing-card__header__business-image">
                                                                <object class="listing-card__business-image" alt="">
                                                                    <a href="#" class="listing-card__business-image__inner-container">
                                                                        <svg class="i i-briefcase listing-card__business-image__placeholder" aria-hidden="true">
                                                                            <use href="#"></use>
                                                                        </svg>
                                                                        <div class="listing-card__business-image__inner">

                                                                           
                                                                        </div>
                                                                        <div class="listing-card__image__inner">
                                                                            <img class="listing-card__image__resource vh-img"  src="{{ url_for('static', filename='images/tasks/' + article.image) }}" alt="" loading="lazy">
                                                                          
                                                                        </div>
                                                                        
                                                                    
                                                                      
                                                                    </div>
                                                                    </a>
                                                                </object>
                                                            </div>
                                                            {% else %}                     
                                                                <div class="listing-card listing-card--tab listing-card--has-contact listing-card--has-content listing-card--priority listing-card--priority-silver">
                                                                    <a href="{{url_for('detail',id=article.id)}}" class="listing-card__inner" id=""  >
                                                                    <div class="listing-card__aside">
                                                                        <div class="listing-card__image">
                                                                            <div class="listing-card__image__inner-container">
                                                                                <svg class="i i-electronics listing-card__image__placeholder" aria-hidden="true">
                                                                                    <use href="#"></use>
                                                                                </svg>
                                                                                <div class="listing-card__image__inner">
                                                                                    <img class="listing-card__image__resource vh-img"  src="{{ url_for('static', filename='images/tasks/' + article.image) }}" alt="" loading="lazy">
                                                                                
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="listing-card__priority">
                                                                            <span class="listing-priority listing-priority--silver">
                                                                                <svg class="i i-priority-star listing-priority__icon" aria-hidden="true">
                                                                                    <use href="#"></use>
                                                                                </svg>
                                                                                <span class="listing-priority__title">
                                                                                * VIP
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                       
                                                                    <div class="listing-card__content 1">
                                                                        <div class="listing-card__content__inner">
                                                                            <div class="listing-card__header">
                                                                                <div class="listing-card__header-content">
                                                                                    <div class="listing-card__header__title">
                                                                                        {{article.content}}
                                                                                    </div>
                                                                                    <div class="listing-card__header__tags">
                                                                                        {% if article.etat =="Venant" %}
                                                                                        <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_used-abroad">
                                                                                        {{article.etat}}
                                                                                    </span>
                                                                                    {% endif %}
                                                                                    {% if article.etat =="Neuf" %}
                                                                                        <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_new">
                                                                                        {{article.etat}}
                                                                                    </span>
                                                                                    {% endif %}
                                                                                    {% if article.etat =="Reconditionné" %}
                                                                                        <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_refurbished">
                                                                                        {{article.etat}}
                                                                                    </span>
                                                                                    {% endif %}
                                                                                    {% if article.etat =="Occasion" %}
                                                                                        <span class="listing-card__header__tags__item listing-card__header__tags__item--condition listing-card__header__tags__item--condition_used-abroad">
                                                                                        {{article.etat}}
                                                                                    </span>
                                                                                    {% endif %}
                                                                                        
                                                                                        <span class="listing-card__header__tags__item listing-card__header__tags__item--make listing-card__header__tags__item--make_hp-hewlett-packard">
                                                                                            {{article.text}}
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="listing-card__header__location">
                                                                                        <svg class="i i-gmaps " aria-hidden="true">
                                                                                            <use href="#"></use>
                                                                                        </svg>
                                                                                        {{article.quartier}}, {{article.ville}}
                                                                                        <p>{{article.published_date}} 
                                                                                    </div>
                                                                                </div>
                                                                                <div class="listing-card__header-aside">
                                                                                    <div class="listing-card__header__business-image">
                                                                                        <object class="listing-card__business-image" alt="">
                                                                                            <a href="#" class="listing-card__business-image__inner-container">
                                                                                                <svg class="i i-briefcase listing-card__business-image__placeholder" aria-hidden="true">
                                                                                                    <use href="#"></use>
                                                                                                </svg>
                                                                                                <div class="listing-card__business-image__inner">

                                                                                                
                                                                                                </div>
                                                                                                <div class="listing-card__image__inner">
                                                                                                    <img class="listing-card__image__resource vh-img"  src="{{ url_for('static', filename='images/tasks/' + article.image) }}" alt="" loading="lazy">
                                                                                                
                                                                                                </div>
                                                                                                
                                                                                            
                                                                                            
                                                                                            </div>
                                                                                            </a>
                                                                                        </object>
                                                                                    </div>
                                                            {% endif %}










                                                        </div>
                                                    </div>











                                                    
                                                    <div class="listing-card__info-bar">
                                                        <div class="listing-card__info-bar__price">
                                                            <span class="listing-card__price">
                                                                <span class="listing-card__price__value 1">
                                                                    {{article.prix}} F Cfa
                                                                </span>
                                                            </span>
                                                        </div>
                                                        <!--googleoff: index-->
                                                        <div class="listing-card__info-bar__contact">
                                                            <object class="listing-card__contact listing-card__contact--phone" alt="Contacter par Téléphone">
                                                                <form method="POST" action="" accept-charset="UTF-8" class="listing-card__contact__container" >
                                                                    <input name="_token" type="hidden" value="PwhhBe4xZWUiwbvnuZO2XBGd5ym6Zpnf2EYg5M3v">
                                                                    <button type="submit" class="listing-card__contact__icon-outer" aria-label="Contacter par Téléphone">
                                                                        <svg class="i i-phone listing-card__contact__icon" aria-hidden="true">
                                                                            <use href="#"></use>
                                                                        </svg>
                                                                    </button>
                                                                    <div class="listing-card__contact__number">
                                                                <a >
                                                                    778097550
                                                                </a>
                                                                <a >
                                                                    778097550
                                                                </a>
                                                                <a >
                                                                    778097550
                                                                    
                                                                </a>
                                                                </div>
                                                            </form>
                                                        </object>
                                                        <object class="listing-card__contact listing-card__contact--whatsapp" alt="Contacter par WhatsApp">
                                                            <div class="listing-card__contact__container">
                                                                <a class="listing-card__contact__icon-outer" rel="noopener noindex nofollow" href="#" >
                                                                    <svg class="i i-whatsapp listing-card__contact__icon" aria-hidden="true">
                                                                        <use href="#">

                                                                        </use>
                                                                    </svg>
                                                                </a>
                                                            </div>
                                                        </object>
                                                        <object class="listing-card__contact listing-card__contact--chat" alt="">
                                                            <form method="GET" action="" accept-charset="UTF-8" class="listing-card__contact__container">
                                                            <input name="redirect" type="hidden" value="">
                                                            <input name="require_mobile_verified" type="hidden" value="1">
                                                            <input name="trigger_contact[id]" type="hidden" value="5502425">
                                                            <input name="trigger_contact[type]" type="hidden" value="chat">
                                                            <button type="submit" class="listing-card__contact__icon-outer" aria-label="Contacter via Chat">
                                                                <svg class="i i-chat listing-card__contact__icon" aria-hidden="true">
                                                                    <use href="#"></use>
                                                                </svg>
                                                            </button>
                                                        </form>
                                                    </object>
   
                                                </div>
                                                
                                                <!--googleon: index-->
                                            </div>
                                            
                                        </div>
                                    </div>
                                </a>
                                
                            </div>
                            
                        </div>
                        
                    </div>

                    
                </div>
              
               
                {% endfor %}
           
             

            </div>  </div>  </div>                      
                
            </div>
           










    


{% endblock %}