{% extends "layouts/connexion.html" %}
{% block content %}             
            <section class="auth-page">
                <div class="auth-page__container">
                    <div class="auth-page__row">
                        <article class="auth-page__col">
                            <div class="auth">
                                <h3 class="auth__title">
                                Bienvenue !<br />
                                Veuillez définir un mot de passe pour votre nouveau compte pour un accès facile
                                </h3>
                                <form method="POST" action="#" accept-charset="UTF-8" data-validate-form data-form-blocking>
                                    <input name="_token" type="hidden" value="tCnr4DnGm66TEmvVaOqOt1W6D7R93ru0jSjwh1RF">
                                    <div class="form-group">
                                        <label for="password">Mot de passe</label>
                                        <input class="form-control" autocomplete="new-password" data-password required name="password" type="password" value="" id="password">
                                        <div class="errors">

                                        </div>
                                    </div>
                                    <div class="auth__submit">
                                        <button type="submit" class="btn btn-primary btn-block btn-tall">
                                        S&#039;inscrire
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
{% endblock content %} 
    
            